.container {
  margin: 1rem;
}
.skillContainer {
  max-width: fit-content;
  padding: 0;
  /* -webkit-box-shadow: 16px 15px 20px -13px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 16px 15px 20px -13px rgba(0, 0, 0, 0.54);
  box-shadow: 16px 15px 20px -13px rgba(0, 0, 0, 0.54); */
}

.skillContainer:hover {
  transform: scale(1.05);
}
.skillName {
  word-wrap: break-word;
}

.inverted {
  filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
}
